# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===== Virtual Environments =====
venv/
.env/
.venv/

# ===== FastAPI / Uvicorn =====
*.log

# ===== Frontend / JS =====
node_modules/
dist/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Editor =====
.vscode/
.idea/
*.swp
